<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Receipts</title>
    <link rel="stylesheet" href="/css/mystyles.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />-->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
<section class="" id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link to="/" class="navbar-item">Home</router-link>

            <!--<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">-->
            <!--<span aria-hidden="true"></span>-->
            <!--<span aria-hidden="true"></span>-->
            <!--<span aria-hidden="true"></span>-->
            <!--</a>-->
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <router-link to="/receipts" class="navbar-item is-active">Receipts</router-link>
            </div>
        </div>
    </nav>

    <router-view></router-view>
</section>
<script src="/javascripts/bundle.js"></script>
</body>
</html>