<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receipts</title>
    <link rel="stylesheet" href="/css/mystyles.css">
</head>
<body>
<section class="" id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link to="/" class="navbar-item">Home</router-link>

            <!--<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">-->
            <!--<span aria-hidden="true"></span>-->
            <!--<span aria-hidden="true"></span>-->
            <!--<span aria-hidden="true"></span>-->
            <!--</a>-->
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <router-link to="/receipts" class="navbar-item">Receipts</router-link>
            </div>
        </div>
    </nav>

    <router-view></router-view>
</section>
<script src="/javascripts/bundle.js"></script>
</body>
</html>